body{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    gap:1rem;
    
}
#Card{
    margin-top: 55px;
    width:18rem;
    border-radius: 15px;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow: 5px 5px 20px rgb(139, 133, 133);
    /* margin-bottom: 30px; */
    color: aliceblue;
    
}
#buttons{
    
    border-left-style: double;
    border: 0.5px solid black;
    border-left-width:medium;
    border-top-width: medium;
}
img{
    width: 100%;
    height:150px
}
#title{
    color:cadetblue;
    border-radius: 10px;
    background-color: whitesmoke;
}
img:hover{
    transform: scale(1.25);
    transition: 0.75s;
    
}
img{
    transition: transform.75s;
}